body{
  background: rgb(164, 243, 74);
}
.square {
  background: teal;
  color: wheat;
  border: 1px solid grey;
  float: left;
  margin: 10px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 80px;
  box-shadow: 5px 5px 5px 0px black;
}
.square:focus {
  outline: none;
}
.border-row::after {
  clear: both;
  content: "";
  display: table;
}
.game{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
ul {
  padding-left: 30px;
}
.game-info{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.status{
  margin-bottom: 10px;
}
.game-status{
  display: flex;
  justify-content: center;
  position: relative;
  top: -50px;
  font-size: 20px;
  font-weight: bold;
  color: darkblue;
}
.btninfo{
  height: 30px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  background: black;
  color: white;
  font-weight: bold;
  width: 100px;
  cursor: pointer;
}